<section class="profile">
 
 <article class="d-flex mt-5">
   <figure>
      <img class="profilePic"src="{{path}}" alt="Foto de Perfil">
    </figure>
    <div class="ml-3">
      <div>
        <h2>{{username}}</h2>
        <a class="btnAdd" href="/user/edit/{{_id}}">Editar</a>
      </div>
      <p class="mt-3 ">Bienvenido a Madriz de Cine {{username}}, explora tu perfil!</p>
    </div>
 </article>


<h5>Favoritos</h5>
<hr>
<div class="row">

  {{#each favs}}
    {{>bigFilmCard this}}
  {{/each}}
</div>

<h5>Eventos a los que asistiras</h5>
<hr>
<div class="row">

  {{#each meeting}}
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="{{path}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{place}} {{date}} {{hour}}</h6>
          <p class="card-text">{{description}}</p>
          <a href="/met/{{_id}}" class="card-link">Ver evento</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
</section>

