<div class="col-3">
  <div class="card">
    <img class="card-img card-img-index" src="{{poster}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{year}}-{{place}}</h6>
      <p class="card-text">{{director}}</p>
      <p class="card-text">{{argument}}</p>
      <a class="btnAdd" href="/film/{{_id}}" class="card-link">Ver pelicula</a>
    </div>
  </div>
</div>