<div class="col-4 mb-2">
  <div class="card"> 
    <img class="card-img card-img-index" src="{{path}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{place}} {{date}} {{hour}}</h6>
      <p class="card-text">{{director}}</p>
      <p class="card-text">{{description}}</p>
      <a href="/met/{{_id}}" class="btn btn-sm btn-dark">Ver detalles</a>
      <a href="/met/delete/{{_id}}" class="btn btn-sm btn-danger">Eliminar</a>
      <a href="/met/edit/{{_id}}" class="btn btn-sm btn-info">Editar</a>
    </div>
  </div>
</div>