<div class="container">

  <h1 style="font-weight: 100">{{name}}</h1>

  <form action="/met/addParticipant/{{_id}}" method="post">
    <button type="submit" class="btn btn-dark">Add me!</button>
  </form>
  <br><br>
  <figure>
    <img src="{{path}}" alt="cartel">
  </figure>

  <h4>Description:</h4>
  <p>{{Description}}</p>
  <hr>

  <h5>Place:</h5>
  <p>{{place}}</p>
  <hr>

  <h5>Date:</h5>
  <p>{{date}}:</p>
  <hr>

  <h5>Hour:</h5>
  <p>{{hour}}:</p>
  <hr>

  <h5>Participants</h5>
  {{#each user}}
  <p>{{username}} will go</p>
  {{/each}}
  <hr>

  <a href="/met" class="btn btn-dark">Volver</a>

</div>