<div class="content-wrap mt-5">

  <h1 style="font-weight: 100">{{name}}</h1>

  <form action="/met/addParticipant/{{_id}}" method="post">
    <button type="submit" class="btn btn-dark">Apuntate!</button>
  </form>
  <br><br>
  <figure>
    <img src="{{path}}" alt="cartel">
  </figure>

  <h4>Descripción:</h4>
  <p>{{Description}}</p>
  <hr>

  <h5>Lugar:</h5>
  <p>{{place}}</p>
  <hr>

  <h5>Fecha:</h5>
  <p>{{date}}:</p>
  <hr>

  <h5>Hora:</h5>
  <p>{{hour}}:</p>
  <hr>

  <h5>Participantes</h5>
  {{#each user}}
  <p>{{username}} estará</p>
  {{/each}}
  <hr>

  <a href="/met" class="btn btn-dark">Volver</a>

</div>