<div class="container">

  <h1 style="font-weight: 100">{{name}}</h1>

  <figure>
    <img src="{{path}}" alt="cartel">
  </figure>

  <h4>Description:</h4>
  <p>{{Description}}</p>
  <hr>

  <h5>Place:</h5>
  <p>{{place}}</p>
  <hr>

  <h5>Date:</h5>
  <p>{{date}}:</p>
  <hr>

  <h5>Hour:</h5>
  <p>{{hour}}:</p>
  <hr>

  
  

  <a href="/met" class="btn btn-dark">Volver</a>

</div>