<div class="container">

  

  <h1 style="font-weight: 100">Índice de Peliculas</h1>
  <hr>

  {{#each films}}
    <a href="/film/{{_id}}" class="btn btn-sm btn-dark">Ver detalles</a>
    <a href="/film/delete/{{_id}}" class="btn btn-sm btn-danger">Eliminar</a>
    <a href="/film/edit/{{_id}}" class="btn btn-sm btn-info">Editar</a>
    <h4>{{title}}</h4>
    <p>{{year}}</p>
    <hr>
  {{/each}}

  <a href="/film/new" class="btn btn-dark">Create new Film</a>
</div>