<div class="container">

  <div class="row">

    <div class="col-md-6">
      <h1 style="font-weight: 100">Editar Pelicula</h1>
      <figure>
        <img src="{{poster}}" alt="cartel">
        <img src="{{image}}" alt="imagen del lugar">
      </figure>
    </div>

    <div class="col-md-6">

      <form action="/film/edit/{{_id}}" method="post">
        <div class="form-group">
          <label for="title-input">Titulo</label>
          <input name="title" type="text" class="form-control" id="title-input" value="{{title}}">
        </div>
        <div class="form-group">
          <label for="year-input">Año</label>
          <input name="year" type="text" class="form-control" id="year-input" value="{{year}}">
        </div>
        <div class="form-group">
          <label for="director-input">Director</label>
          <input name="director" type="text" class="form-control" id="director-input" value="{{director}}">
        </div>
        <div class="form-group">
          <label for="place-input">Lugar de rodaje</label>
          <input name="place" type="text" class="form-control" id="place-input" value="{{place}}">
        </div>
        <div class="form-group">
          <label for="argument-textarea">Argumento</label>
          <textarea type="text"name="argument" id="argument-textarea" cols="60" rows="4">
            {{argument}}
          </textarea>
        </div>

        <div class="form-group">
          <label for="actors-input">Actores:</label>
            {{#each actors}}
            <div class="form-group">
              <label for="actor-input">Actor</label>
              <input name="actors" type="text" class="form-control" id="actor-input" value="{{name}}">
            </div>
            {{/each}}
          </select>
        </div>

        <button type="submit" class="btn btn-dark">Editar Pelicula</button>
        <a href="/film" class="btn btn-dark">Volver</a>

      </form>
    </div>

  </div>
</div>