<div class="content-wrap mt-5">

  <div class="row">

    <div class="col-md-6">
      <h1 style="font-weight: 100">Editar Pelicula</h1>
      <figure>
        <img src="{{poster}}" alt="cartel">
        <img src="{{image}}" alt="imagen del lugar">
      </figure>
    </div>

    <div class="col-md-6">

      <form action="/film/edit/{{_id}}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title-input">Titulo</label>
          <input name="title" type="text" class="form-control" id="title-input" value="{{title}}">
        </div>
        <div class="form-group">
          <label for="genre-input">Genero</label>
          <input name="genre" type="text" class="form-control" id="genre-input" value="{{genre}}">
        </div>
        <div class="form-group">
          <label for="year-input">Año</label>
          <input name="year" type="text" class="form-control" id="year-input" value="{{year}}">
        </div>
        <div class="form-group">
          <label for="country-input">Pais</label>
          <input name="country" type="text" class="form-control" id="country-input" value="{{country}}">
        </div>
        <div class="form-group">
          <label for="duration-input">Duración</label>
          <input name="duration" type="text" class="form-control" id="duration-input" value="{{duration}}">
        </div>
        <div class="form-group">
          <label for="director-input">Director</label>
          <input name="director" type="text" class="form-control" id="director-input" value="{{director}}">
        </div>
        <div class="form-group">
          <label for="place-input">Lugar de rodaje</label>
          <input name="place" type="text" class="form-control" id="place-input" value="{{place}}">
        </div>
        <div class="form-group">
          <label for="argument-textarea">Argumento</label>
          <textarea type="text"name="argument" id="argument-textarea" cols="60" rows="4">
            {{argument}}
          </textarea>
        </div>

         <h5>Establece las coordenadas</h5>
        <div class="form-group">
          <label for="lat-input">latitud</label>
          <input name="lat" type="text" class="form-control" id="lat-input" value="{{coords.lat}}">
        </div>
        <div class="form-group">
          <label for="lng-input">longitud</label>
          <input name="lng" type="text" class="form-control" id="lng-input" value="{{coords.lng}}">
        </div>

        <div class="form-group">
          <label for="actors-input"><h5>Actores:</h5></label>
            {{#each actors}}
            <div class="form-group">
              <label for="actor-input">Actor</label>
              <input name="actors" type="text" class="form-control" id="actor-input" value="{{name}}">
            </div>
            {{/each}}
          </select>
        </div>
<p>Cinefilo recuerda poner las fotos, son obligatorias!</p>
        <div class="form-group">
          <label for="photo-input">Poster</label>
          <input type="file" name="phototoupload"><br>
          <label for="photo-input">Place Photo</label>
          <input type="file" name="phototoupload"><br>
        </div>

        <button type="submit" class="btn btn-dark">Editar Pelicula</button>
        <a href="/film" class="btn btn-dark">Volver</a>

      </form>
    </div>

  </div>
</div>