<section class="film content-wrap">

  <div class="center">
    <h1>{{title}}</h1>
    <form action="/film/addFavorite/{{_id}}" method="post" class="addFav">
      <button type="submit" class="btnAdd"> + Favorito</button>
    </form>
  </div>
  
    <div id="myMap"></div>
    <div id="myId">{{_id}}</div>
  

  
    <div class="row around">
      <div class="col-5">
        <figure>
          <img src="{{poster}}" alt="cartel">
        </figure>
      </div>
      <div class="col-5">
        <figure>
          <img src="{{image}}" alt="imagen del lugar">
        </figure>
      </div>
    </div>
  

  <div class="details">
    
    <h5>Titulo</h5>
    <p>{{title}}</p>
    <hr>

    <h5>Director</h5>
    <p>{{director}}</p>
    <hr>

    <h5>Genero</h5>
    <p>{{genre}}</p>
    <hr>

    <h5>A침o</h5>
    <p>{{year}}</p>
    <hr>

    <h5>Pais</h5>
    <p>{{country}}</p>
    <hr>

    <h5>Duraci칩n</h5>
    <p>{{duration}}</p>
    <hr>

    <h5>Localizaci칩n</h5>
    <p>{{place}}</p>
    <hr>

    <h5>Argumento</h5>
    <p>{{argument}}</p>
    <hr>

    <h5>Actores</h5>
    {{#each actors}}
    <p>
      {{name}}
    </p>
    {{/each}}
  </div>
  <div class="text-center m-5">
  
    <h5 class="d-inline">Sugerencias</h5>
    <a href="/suggestion/new/{{_id}}" class="btnAdd m-3"> + A침ade una!</a>
    
  </div>

  <div>
    <div class="row justify-content-center">
      {{#each suggestion}}
      <div class="col-4 card m-1">

        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{address}}</h6>
          <p class="card-text">{{description}}</p>
          <p class="card-text">{{recommendation}}</p>
        </div>

      </div>
      {{/each}}

    </div>
  </div>

  <a href="/film" class="btn btn-dark">Volver</a>

</section>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../javascripts/mapStyles.js"> </script>
<script src="../javascripts/detailMap.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArikc1-VRJiLkBi6oVMa4RRxR4d1r1ATQ"></script>